body { 
    background: url(backgroun3.jpg); 
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    background-size: cover; 
    color: #333; 
}
.botones{
    padding: 3px 5px;
    font-size: 18px;
}
.userContain{
    display:inline-block;
    flex:left;
    height: 100%;
    width: 50%;
}
.footerProfile form{
    display:inline-block;    
}

.card-index {
    width: 300px;
    margin-top: 15px;
}
.portada{
    height:500px
}
.select{
    display: flex;
    justify-content: center;
}
.fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}
#image{
    float: left;
}
#imageEdit{
    width: 45%;
    margin-left: 20px;
}
h1{
    color:#FFD961;
}
.profile{
    float: left; 
    background-color: goldenrod;
    padding: 20px;
    width: 40%;
}
.purchasedBooks{
    margin-left: 10px;
    float: left;
    border: solid 1px black;
    background-color: gray;
    border-radius: 55px;
    width: 40%;
}
.contenedor{
    width: 100%;
}
.libros{
    float:left;
    margin: 10px 0px 0px 10px;
    max-width: 260px;
    max-height: 700px;
    border-radius: 5px;
    background-color:whitesmoke;
}
.cuerpoLibro{
    display:block;
    padding: 20px;
    padding-bottom: 0px;
}
.pieLibro{
    margin-left: 20px;
    margin-bottom: 15px;
}
img{
    max-width: 270px;
    max-height: 400px;
}
.formularios{
    max-width: 700px;
    margin:auto;
}